# Node dependencies
node_modules/

# Tailwind build artifacts (optional to ignore if you always rebuild)
style.css.map

# Tailwind and PostCSS source files
postcss.config.js
tailwind.config.js
assets/css/tailwind.css

# macOS system files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode config (if any)
.vscode/

# OS-specific and IDE-specific temp files
Thumbs.db
*.swp
*.swo
